# Simformer Training Configuration

# note: yaml can't resolve 1e-3 as 0.001, so write float numbers explicitly
strategy:
  method: "flow"
  model: "flux"

optimizer:
  warmup_steps: 500
  decay_transition: 0.80
  rtol: 1.0e-4
  max_lr: 2.0e-4
  min_lr: 2.0e-6

model:
  in_channels: 1
  vec_in_dim: null
  context_in_dim: 1
  mlp_ratio: 3
  num_heads: 2
  depth: 4
  depth_single_blocks: 8
  axes_dim: [10]
  qkv_bias: true
  theta: 60
  params_dtype: "bfloat16"
  id_embedding_strategy: ["absolute", "absolute"]

training:
  batch_size: 1024
  nsteps: 10000
  ema_decay: 0.999
  multistep: 1
  early_stopping: false
  val_every: 100
  experiment_id: 2
  restore_model: false
  train_model: true
