
# Simformer Training Configuration

# note: yaml can't resolve 1e-3 as 0.001, so write float numbers explicitly

task_name: two_moons

strategy:
  method: "diffusion"
  model: "flux"

optimizer:
  patience: 10
  cooldown: 2
  factor: 0.5
  accumulation_size: 100
  rtol: 1.0e-4
  max_lr: 2.0e-4
  min_lr: 2.0e-6

model:
  in_channels: 1
  vec_in_dim: null
  context_in_dim: 1
  mlp_ratio: 4
  num_heads: 4
  depth: 8
  depth_single_blocks: 16
  axes_dim: [10]
  qkv_bias: true
  theta: 40
  params_dtype: "float32"
  id_embedding_kind: ["absolute", "absolute"]

training:
  batch_size: 1024
  nsteps: 50000
  ema_decay: 0.999
  multistep: 1
  early_stopping: false
  val_every: 100
  experiment_id: 2
  restore_model: false
  train_model: true