[project]
name = "gensbi-examples"
version = "0.0.4"
description = "Examples for the GenSBI library"
authors = [{ name = "Aurelio Amerio", email = "dev@gensbi.com" }]
license = { file = "LICENSE" }
readme = "README.md"
requires-python = ">=3.11"

dependencies = [
    "jax>=0.7.2",
    "datasets",
    "huggingface_hub",
    "matplotlib>=3.10",
    "numpy>=2.0",
    "flax>=0.12.0",
    "grain>=0.2.12",
]

test = [
    "pytest",
    "pytest-xdist",
    "pytest-cov",
    "pytest-mock",
    "pytest-env",
    "genbadge[all]",
    "flake8",
]

[project.urls]
Homepage = "https://github.com/aurelio-amerio/GenSBI-examples"
Issues = "https://github.com/aurelio-amerio/GenSBI-examples/issues"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build]
sources = ["src"]

[tool.hatch.build.targets.sdist]
include = [
    "/src",
    "/README.md",
    "/LICENSE",
]

[tool.pytest.ini_options]
env = [
    "JAX_PLATFORMS=cpu"
]
testpaths = [
    "test",
]
