[project]
name = "GenSBI-examples"
version = "0.0.1"
description = "Examples for the GenSBI library"
authors = [{ name = "Aurelio Amerio", email = "aure.amerio@gmail.com" }]
license = { file = "LICENSE" }
readme = "README.md"
requires-python = ">=3.11"

dependencies = [
    # "gensbi @ git+https://github.com/aurelio-amerio/GenSBI.git",
    "scikit-learn>=1.7.0",
    "datasets",
    "huggingface_hub",
]

[project.urls]
Homepage = "https://github.com/aurelio-amerio/GenSBI-examples"
Issues = "https://github.com/aurelio-amerio/GenSBI-examples/issues"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build]
sources = ["src"]

[tool.hatch.build.targets.wheel]
force-include = { "src/gensbi_examples" = "gensbi_examples" }
