task_name: gaussian_linear

strategy:
  method: "flow"
  model: "flux"

optimizer:
  warmup_steps: 500
  decay_transition: 0.60
  rtol: 1.0e-4
  max_lr: 4.0e-4
  min_lr: 4.0e-6

model:
  in_channels: 1
  vec_in_dim: null
  context_in_dim: 1
  mlp_ratio: 4
  num_heads: 6
  depth: 8
  depth_single_blocks: 16
  axes_dim: [20]
  qkv_bias: true
  theta: 40
  params_dtype: "bfloat16"
  id_embedding_strategy: ["absolute", "absolute"]

training:
  batch_size: 4096
  nsteps: 50000
  ema_decay: 0.999
  multistep: 1
  early_stopping: true
  val_every: 100
  experiment_id: 1
  restore_model: false
  train_model: true
