# Simformer Training Configuration

# note: yaml can't resolve 1e-3 as 0.001, so write float numbers explicitly

task_name: two_moons

strategy:
  method: "flow"
  model: "simformer"

optimizer:
  warmup_steps: 500
  decay_transition: 0.60
  rtol: 1.0e-4
  max_lr: 4.0e-4
  min_lr: 4.0e-6

model:
  in_channels: 1
  val_emb_dim: 40
  id_emb_dim: 40
  cond_emb_dim: 10
  fourier_features: 256
  num_heads: 4
  num_layers: 8
  widening_factor: 3
  qkv_features: 40
  num_hidden_layers: 1

training:
  batch_size: 4096
  nsteps: 50000
  ema_decay: 0.999
  multistep: 1
  early_stopping: true
  val_every: 100
  experiment_id: 1
  restore_model: false
  train_model: true
