# Simformer Training Configuration

# note: yaml can't resolve 1e-3 as 0.001, so write float numbers explicitly

task_name: bernoulli_glm

strategy:
  method: "flow"
  model: "flux1joint"

optimizer:
  warmup_steps: 500
  decay_transition: 0.60
  rtol: 1.0e-4
  max_lr: 4.0e-4
  min_lr: 4.0e-6

model:
  in_channels: 1
  vec_in_dim: null
  context_in_dim: 1
  mlp_ratio: 4
  num_heads: 4
  depth_single_blocks: 16
  val_emb_dim: 10
  cond_emb_dim: 4
  id_emb_dim: 10
  id_merge_mode: "concat"
  qkv_bias: true
  params_dtype: "float32"

training:
  batch_size: 4096
  nsteps: 50000
  ema_decay: 0.999
  multistep: 1
  early_stopping: true
  val_every: 100
  experiment_id: 1
  restore_model: true
  train_model: false
