task_name: slcp

strategy:
  method: "flow"
  model: "flux"

optimizer:
  warmup_steps: 500
  decay_transition: 0.80
  rtol: 1.0e-4
  max_lr: 1.0e-4
  min_lr: 1.0e-6

model:
  in_channels: 1
  vec_in_dim: null
  context_in_dim: 1
  mlp_ratio: 4
  num_heads: 4
  depth: 4
  depth_single_blocks: 8
  val_emb_dim: 20
  id_emb_dim: 10
  qkv_bias: true
  id_merge_mode: "concat"
  theta: -1
  params_dtype: "bfloat16"
  id_embedding_strategy: ["absolute", "absolute"]

training:
  batch_size: 256
  nsteps: 50000
  ema_decay: 0.999
  multistep: 1
  early_stopping: false
  val_every: 100
  experiment_id: 1
  restore_model: false
  train_model: true
