
# Simformer Training Configuration

# note: yaml can't resolve 1e-3 as 0.001, so write float numbers explicitly

task_name: slcp

strategy:
  method: "flow"
  model: "flux"

optimizer:
  warmup_steps: 500
  decay_transition: 0.60
  max_lr: 4.0e-4
  min_lr: 4.0e-6

model:
  in_channels: 1
  vec_in_dim: null
  context_in_dim: 1
  mlp_ratio: 4
  num_heads: 4
  depth: 8
  depth_single_blocks: 16
  axes_dim: [10]
  qkv_bias: true
  params_dtype: "bfloat16"
  id_embedding_kind: ["absolute", "absolute"]


training:
  batch_size: 4096
  nsteps: 50000
  ema_decay: 0.999
  multistep: 1
  early_stopping: true
  val_every: 100
  experiment_id: 1
  restore_model: false
  train_model: true